.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
ol, ul {
  margin-left: 1em;
}


.full-height {
  height: 100%;
  height: 100vh;
  min-height: 100%;
  min-height: 100vh;
}

.vertical-center-container {
  display: table;
  width: 100%;
}

.vertical-center-inner {
  display: table-cell;
  vertical-align: middle;
}

.line-through {
  text-decoration: line-through;
}


input[type="email"] {
  border-radius: 4px;
  background: $white;
  border: 0;
  border: 2px solid $red;
  border-radius: 4px;
  padding: 5px;
  min-width: 300px;
  margin-left: 10px;
  &:focus {
    outline: 2px solid $blue;
  }
}



.button {
  @include transition(background-color);
  background: $red;
  outline: 0;
  border: 0;
  border-radius: 4px;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 6px 10px;
  margin-top: 20px;

  &:visited {
    color: $white;
  }
  &:hover {
    background: $darkred;
  }
  &:active {
    transform: translateY(1px);
  }
  &:focus {
    outline: 2px solid $blue;
  }
}

h1 {
  color: $darkred;
  font-weight: 400;
}


.delight {
  color: $red;
  // font-weight: 900;
}

.life {
  // font-weight: 300;
}

@media screen and (max-width:568px) {
  .map-svg {
    width: 150px;
    height: 150px;
  }
}
